alembic==1.13.3
cachetools==5.3.3
certifi==2024.8.30
cloudpickle==3.0.0
contourpy==1.2.1
docker==7.1.0
fonttools==4.54.1
imbalanced-learn==0.12.3
importlib-metadata==8.2.0
importlib_resources==6.4.5
iniconfig==2.0.0
IPython==8.27.0
itsdangerous==2.2.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
libclang==18.1.1
lightgbm==4.3.0
llvmlite==0.43.0
matplotlib==3.9.2
mlflow==3.1.1
numba==0.60.0
numpy==1.26.4
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
pandas==2.2.3
pillow==10.4.0
plotly==5.24.1
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.4
pytest==8.3.3
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
scikit-learn==1.5.2
scipy==1.13.1
shap==0.46.0
streamlit==1.38.0
tenacity==9.0.0
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
urllib3==2.2.3
virtualenv==20.27.1
waitress==3.0.1
watchdog==4.0.2
